.Delivery-background {
  background-image: url("/images/Bike-guy.png");
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.Delivery-logo {
  position: absolute;
  top: 0;
  left: 6%;
  width: 80%;
  max-width: 230px;
}

.Delivery-delivery {
  position: absolute;
  bottom: -5%;
  left: 6%;
  width: 80%;
  max-width: 230px;
  font-weight: 900;
  font-size: 38px;
  color: white;
  background-color: #d94464;
  padding: 0.2em 0.6em;
}

.Delivery-name {
  top: 50%;
  left: 6%;
  color: rgb(31, 76, 93);
  font-size: 50px;
  position: absolute;
}

.Delivery-black {
  font-weight: 900;
}
